body {
  padding: 5px;
}

span {
  display: inline;
}

form {
  margin: auto;
}

#googleMap {
  width: 600px;
  height: 400px;
  margin: auto;
}

.closebutton {
  cursor: pointer;
}

.form-group{
  width: 400px;
  margin: auto;
}

.main {
  margin: auto;
  width: 800px;
}

.listcont {
  margin: auto;
  width: 300px;
  margin-top: 50px;
}
